workflows/gerenciador-leads/gerenciador-leads.json
{
  "name": "Gerenciador de Leads",
  "nodes": [
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "id": "53e439d8-9a46-4ba4-a35b-064dbb03c570",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -460,
        400
      ],
      "credentials": {
        "groqApi": {
          "id": "5OLOZq5hGIFWJMPh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "id": "52b7a232-79dc-40ea-9148-b78df802621a",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        460,
        400
      ],
      "credentials": {
        "groqApi": {
          "id": "5OLOZq5hGIFWJMPh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "id": "b89a0d76-e43a-4760-99da-0838cd1cf23f",
      "name": "Groq Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        640,
        840
      ],
      "credentials": {
        "groqApi": {
          "id": "5OLOZq5hGIFWJMPh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "id": "ad247d24-9cf2-4c2e-9d77-4e760efbf66f",
      "name": "Groq Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        760,
        920
      ],
      "credentials": {
        "groqApi": {
          "id": "5OLOZq5hGIFWJMPh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"assunto\": {\n\t\t\t\"type\": \"string\",\n          \"description\": \"assunto do e-mail\"\n\t\t},\n\t\t\"corpo\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "id": "179d2860-4c81-48f4-bed8-bec2df11fbc4",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        900,
        920
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "792c3d15-e578-4db3-97ba-ec4d0be0f099",
        "options": {}
      },
      "id": "d023689d-6f37-4417-a6b3-77847fb6b548",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1160,
        260
      ],
      "webhookId": "792c3d15-e578-4db3-97ba-ec4d0be0f099"
    },
    {
      "parameters": {
        "fieldToSplitOut": "text",
        "options": {}
      },
      "id": "bc1168c8-0f52-45a9-939f-af3039465ab3",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        920,
        260
      ]
    },
    {
      "parameters": {
        "content": "## Recebimento e Trataiva dos Dados do Formulário",
        "height": 420,
        "width": 920,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        100
      ],
      "id": "b7f33aa5-6baa-46ff-964f-d79aa3de0d1a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b532500-3cb3-4a4d-83a0-be3d44a54567",
              "name": "data_envio",
              "value": "={{ $json.body.form_response.submitted_at }}",
              "type": "string"
            },
            {
              "id": "cc1ecdbf-cf70-4f8c-9b30-8d3f9e0fd843",
              "name": "={{ $json.body.form_response.definition.fields[0].title }}",
              "value": "={{ $json.body.form_response.answers[0].text }}",
              "type": "string"
            },
            {
              "id": "922bd676-f794-46fa-ba97-f49ee34d5c3d",
              "name": "={{ $json.body.form_response.definition.fields[1].title }}",
              "value": "={{ $json.body.form_response.answers[1].email }}",
              "type": "string"
            },
            {
              "id": "1b6e1d21-9741-464f-b6ce-c29acaf220ef",
              "name": "={{ $json.body.form_response.definition.fields[2].title }}",
              "value": "={{ $json.body.form_response.answers[2].url }}",
              "type": "string"
            },
            {
              "id": "ef7ddb9e-bcd7-49f8-a970-85dfadf2cdd3",
              "name": "={{ $json.body.form_response.definition.fields[3].title }}",
              "value": "={{ $json.body.form_response.answers[3].choice.label }}",
              "type": "string"
            },
            {
              "id": "bcd0d6e0-6da7-4c67-844c-25efc24356dc",
              "name": "={{ $json.body.form_response.definition.fields[4].title }}",
              "value": "={{ $json.body.form_response.answers[4].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c90f19d1-4b34-4a39-bca6-574331d869a0",
      "name": "Filtra Informações do Formulário",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8fedd3c-2c5c-4fee-9545-d5dd9459b4a6",
              "name": "idList",
              "value": "={{ $json['Qual o tipo da sua demanda?'].toLowerCase() == \"serviço de dados\" ? \"672107390f4e328bfd73b669\" : $json['Qual o tipo da sua demanda?'].toLowerCase() == \"serviço de ia\" ? \"6721073d0869dc68eb97cd23\" : $json['Qual o tipo da sua demanda?'].toLowerCase() == \"treinamento de dados\" ? \"6721074314432a7c113b8cd9\" : \"67210747a42a619dc7126c8f\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f1b0fef1-4e52-49e8-ad8c-cd96d9899895",
      "name": "Filtra o Tipo de Serviço",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        260
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Cargo>\nVocê é um assistente adminstrativo da DascIA, uma empresa de consultoria e treinamento em Dados e IA. Você já tem experiência com isso há mais de 20 anos. Além disso, você sabe muito bem sobre inteligência artificial e dados.\n\nVocê é o responsável por fazer a adminstração e o report de todas as solicitações de projetos que a DascIA recebe.\n\nVocê chama-se Alberto.\n</Cargo>\n\n<Instruções>\nA partir da descrição e da categoria do tipo de serviço ou treinamento que o cliente quer, faça uma descrição MUITO bem detalhada sobre o projeto a ser feito.\n\nA sua mensagem será colocada em uma descrição no Trello para que o time da DascIA consiga ter clareza da requisição do cliente.\n\nUse o <Formato de Resposta>\n</Instruções>\n\n\n<Descrição do Projeto>\nNome, e-mail e site do cliente: {{ $('Filtra Informações do Formulário').item.json['Qual o seu nome?'] }}, {{ $('Filtra Informações do Formulário').item.json['Qual o seu melhor e-mail?'] }}, {{ $('Filtra Informações do Formulário').item.json['Qual o link do seu site?'] }}\nCategoria: {{ $('Filtra Informações do Formulário').item.json['Qual o tipo da sua demanda?'] }}\nDescrição do cliente: {{ $('Filtra Informações do Formulário').item.json['Descreva, com detalhes, a sua demanda'][''] }}\n</Descrição do Projeto>\n\n<Formato de Resposta>\n**Solicitante**: [nome (e-mail)]\\\n**Informações**: [resumo de uma linha do que o cliente quer]\n**Descrição detalhada**: [sua descrição detalhada do projeto]\n</Formato de Resposta>\n\n<Sobre a DascIA>\nA DascIA é uma empresa de consultoria e treinamento em Dados e IA.\n\nFerramentas utilizadas pela DascIA: Python, PowerBI, Langchain (R.A.G., IA applications), GCP, SQL, Excel, Langgraph (AI Agents)\n</Sobre a DascIA>\n\n<Regras Gerais>\nNão seja prolixo, seja formal, escreva SEMPRE em formato de parágrafos.\n</Regras Gerais>"
      },
      "id": "867ce293-2679-4de4-b180-52be31274866",
      "name": "Descrição da Demanda",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -560,
        260
      ]
    },
    {
      "parameters": {
        "listId": "={{ $('Filtra o Tipo de Serviço').item.json.idList }}",
        "name": "={{ $('Filtra Informações do Formulário').item.json['Qual o seu nome?'] }} | {{ $('Filtra Informações do Formulário').item.json['Qual o seu melhor e-mail?'] }}",
        "description": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "6d9feb2f-be1c-41da-b1b5-e921cda296a4",
      "name": "Cria Card",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -220,
        260
      ],
      "credentials": {
        "trelloApi": {
          "id": "JcCHeqeMw0BjwsG3",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "name": "=Tarefas",
        "additionalFields": {}
      },
      "id": "eb978ec4-7988-40f3-982e-3c4ec59fa4f8",
      "name": "Cria Checklist",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -40,
        260
      ],
      "credentials": {
        "trelloApi": {
          "id": "JcCHeqeMw0BjwsG3",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab649b2-4b8e-4c06-b2e7-6b931c256e17",
              "name": "checklist",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "13f04430-bde6-48a5-88ce-483cb2976bfc",
      "name": "Recebe ID Checklist",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        260
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Cargo>\nVocê é um assistente adminstrativo da DascIA, uma empresa de consultoria e treinamento em Dados e IA. Você já tem experiência com isso há mais de 20 anos. Além disso, você sabe muito bem sobre inteligência artificial e dados.\n\nVocê é o responsável por fazer a adminstração e o report de todas as solicitações de projetos que a DascIA recebe.\n\nVocê chama-se Alberto.\n</Cargo>\n\n<Instruções>\nA partir da descrição e da categoria do tipo de serviço ou treinamento que o cliente quer, descreva as tarefas a serem feitas, PASSO A PASSO, separadas por vírgula.\n\nAs tarefas devem ser realmente desde o início do projeto até o final.\n</Instruções>\n\n\n<Descrição do Projeto>\n{{ $('Descrição da Demanda').item.json.text }}\n</Descrição do Projeto>\n\n<Sobre a DascIA>\nA DascIA é uma empresa de consultoria e treinamento em Dados e IA.\n\nFerramentas utilizadas pela DascIA: Python, PowerBI, Langchain (R.A.G., IA applications), GCP, SQL, Excel, Langgraph (AI Agents)\n</Sobre a DascIA>\n\n<Regras Gerais>\nNão seja prolixo, seja formal, separe as tarefas por vírgula. Retorne APENAS as tarefas separadas por vírgula. Nada mais!\n</Regras Gerais>"
      },
      "id": "0c5e64ea-7f43-4b89-a1d3-847d268714ab",
      "name": "Separa Demanda por Vírgula",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        360,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80e40fe5-0165-46ae-8559-8bf77f378ba2",
              "name": "text",
              "value": "={{ $json.text.split(\",\") }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "90b5e959-1551-4f39-b493-809968a8cb9b",
      "name": "Separa Itens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        260
      ]
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "createCheckItem",
        "checklistId": "={{ $('Recebe ID Checklist').item.json.checklist }}",
        "name": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "cf6a2fbf-5fea-4974-bc57-ee786a9d303b",
      "name": "Cria Item do Checklist",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1140,
        260
      ],
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "trelloApi": {
          "id": "JcCHeqeMw0BjwsG3",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Filtra Informações do Formulário').all()[0].json['Qual o seu melhor e-mail?'] }}",
        "subject": "={{ $json.output.assunto }}",
        "emailType": "text",
        "message": "={{ $json.output.corpo }}",
        "options": {}
      },
      "id": "d9e484eb-1180-4b87-96ee-78b993afe06b",
      "name": "Envia e-mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        660
      ],
      "webhookId": "a92fe752-3159-4b99-b0d9-c640d737024e",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "T67cib9T3DBgrhbf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Cargo>\nVocê é um assistente adminstrativo da DascIA, uma empresa de consultoria e treinamento em Dados e IA. Você já tem experiência com isso há mais de 20 anos. Além disso, você sabe muito bem sobre inteligência artificial e dados.\n\nVocê é o responsável por fazer a adminstração e o report de todas as solicitações de projetos que a DascIA recebe.\n\nVocê chama-se Alberto.\n</Cargo>\n\n<Instruções>\nA partir da descrição do serviço que o cliente requisitou e os passos a serem tomados durante a execução do projeto, escreva um e-mail formal que será encaminhado ao cliente.\n\nO e-mail deve deixar claroa intenção do projeto, o que será feito (em alto nível, mas ao mesmo tempo rico em informações).\n\nAo final, deve ser pedido que o cliente responda o e-mail com a melhor data e horário para marcar uma reunião de alinhamento para iniciar o projeto e fechar o contrato.\n</Instruções>\n\n\n<Descrição do Projeto>\n{{ $('Descrição da Demanda').item.json.text }}\n</Descrição do Projeto>\n\n<Checklist do projeto>\n{{ $('Separa Demanda por Vírgula').item.json.text }}\n</Checklist do projeto>\n\n<Sobre a DascIA>\nA DascIA é uma empresa de consultoria e treinamento em Dados e IA.\n\nFerramentas utilizadas pela DascIA: Python, PowerBI, Langchain (R.A.G., IA applications), GCP, SQL, Excel, Langgraph (AI Agents)\n</Sobre a DascIA>\n\n<Regras Gerais>\nNão seja prolixo, seja formal.\n\nRetorne o o assunto e o corpo do e-mail (formatado corretamente utilizando \\n) em formato JSON:\n{\"assunto\": assunto, \"corpo\": corpo}\n\nNo máximo 150 tokens.\n</Regras Gerais>",
        "hasOutputParser": true
      },
      "id": "e3d41fc2-68a4-4523-aa94-bc7ec39fc60b",
      "name": "Gera E-mail",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        640,
        660
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d441d15d-1a16-4284-b317-7ae5a28d90b8",
      "name": "Fomata Saída",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        740,
        800
      ]
    },
    {
      "parameters": {
        "content": "## Gera Itens do Checklist Dentro de um Card no Trello",
        "height": 420,
        "width": 1540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        100
      ],
      "id": "8129a44c-6e6a-4a57-bacc-a672a6c29231",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Gera e envia um E-mail ",
        "height": 520,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        560
      ],
      "id": "75495977-24a4-4a0a-8a0e-e6affacb083e",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Descrição da Demanda",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Separa Demanda por Vírgula",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Gera E-mail",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Fomata Saída",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Fomata Saída",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtra Informações do Formulário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Cria Item do Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra Informações do Formulário": {
      "main": [
        [
          {
            "node": "Filtra o Tipo de Serviço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra o Tipo de Serviço": {
      "main": [
        [
          {
            "node": "Descrição da Demanda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descrição da Demanda": {
      "main": [
        [
          {
            "node": "Cria Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Card": {
      "main": [
        [
          {
            "node": "Cria Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Checklist": {
      "main": [
        [
          {
            "node": "Recebe ID Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe ID Checklist": {
      "main": [
        [
          {
            "node": "Separa Demanda por Vírgula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa Demanda por Vírgula": {
      "main": [
        [
          {
            "node": "Separa Itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa Itens": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Item do Checklist": {
      "main": [
        [
          {
            "node": "Gera E-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera E-mail": {
      "main": [
        [
          {
            "node": "Envia e-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fomata Saída": {
      "ai_outputParser": [
        [
          {
            "node": "Gera E-mail",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7bbd2807-02e2-42bd-9791-60a1ace297ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f68082e8eb2ca86dfbb4aef53856fa9ec140dfe4dea002184f7d06db00b4f0a5"
  },
  "id": "xdM7Ov369rjwffbs",
  "tags": []
}